<div class="container-fluid h-100" style=" background-color: white ; color: black;">
  <div class="d-flex h-100 p-v-15 flex-column justify-content-between">
    <div class="d-none d-md-flex p-h-40">
      <img src="assets/images/logo/andlogo.png" alt="">
    </div>
    <div class="container">
      <div class="row align-items-center">
        <h2>Datos Personales</h2>
        <p>Recopilamos y utilizamos información personal con el objetivo de mejorar nuestros servicios y proporcionar
          una mejor experiencia al usuario. Esta información puede incluir nombres, direcciones de correo electrónico,
          direcciones físicas, entre otros.</p>

        <h2>Uso de Imágenes</h2>
        <p>Las imágenes que se recopilan y utilizan en nuestra plataforma son exclusivamente para proporcionar contenido
          visual y mejorar la experiencia del usuario. Estas imágenes no se comparten con terceros sin su consentimiento
          expreso.</p>

        <h2>GPS y Localización</h2>
        <p>Algunos servicios pueden requerir acceso a la ubicación del dispositivo para brindar funcionalidades
          específicas. Nos comprometemos a utilizar esta información únicamente con el propósito indicado y no
          compartirla con terceros sin su autorización.</p>

        <h2>Uso y Compartimiento de Datos</h2>
        <p>No vendemos, compartimos ni transferimos información personal a terceros, a menos que se cuente con su
          permiso o que la ley así lo requiera. Utilizamos sus datos para mejorar nuestros servicios y personalizar su
          experiencia con nosotros.</p>

        <h2>Seguridad</h2>
        <p>Nos comprometemos a asegurar que su información esté segura. Implementamos medidas de seguridad físicas,
         electrónicas y procedimentales para proteger su información.</p>

        <p>Última actualización: 12 Diciembre 2023</p>
        
        <h2>Más Información</h2>
        <p>Puede obtener más información visitando nuestra página <a href="/external-privacy" target="_blank">aquí</a>.
        </p>

      </div>      
    </div>
  </div>