<div class="page-header">
    <div class="d-md-flex align-items-md-center justify-content-between">
        <div class="media m-v-10 align-items-center">
            <nz-avatar nz-icon="user" nz-size="50" nz-src="assets/images/avatars/thumb-3.jpg"></nz-avatar>
            <div class="media-body m-l-15">
                <h4 class="m-b-0">Seguimiento de actividades</h4>
                <span class="text-gray">Sistema de monitoreo</span>
            </div>
        </div>
        <div class="d-md-flex align-items-center d-none">
            <div class="media align-items-center m-r-40 m-v-5">
                <div class="font-size-27">
                    <i class="text-primary" nz-icon nzType="profile" theme="outline"></i>
                </div>
                <div class="d-flex align-items-center m-l-10">
                    <h2 class="m-b-0 m-r-5">0</h2>
                    <span class="text-gray">Vehículos</span>
                </div>
            </div>
            <div class="media align-items-center m-r-40 m-v-5">
                <div class="font-size-27">
                    <i class="text-success" nz-icon nzType="appstore" theme="outline"></i>
                </div>
                <div class="d-flex align-items-center m-l-10">
                    <h2 class="m-b-0 m-r-5">0</h2>
                    <span class="text-gray">Acceso</span>
                </div>
            </div>
            <div class="media align-items-center m-v-5">
                <div class="font-size-27">
                    <i class="text-danger" nz-icon nzType="team" theme="outline"></i>
                </div>
                <div class="d-flex align-items-center m-l-10">
                    <h2 class="m-b-0 m-r-5">0</h2>
                    <span class="text-gray">Negados</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-9">
        <nz-card>
            <div class="d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Diagrama de actividad </h5>
                <div>
                    <a class="text-dark font-size-20" nz-dropdown [nzTrigger]="'click'" [nzPlacement]="'bottomRight'"
                        [nzDropdownMenu]="projectCompletionDropDown">
                        <i nz-icon nzType="ellipsis" theme="outline"></i>
                    </a>
                    <nz-dropdown-menu #projectCompletionDropDown="nzDropdownMenu">
                        <ul nz-menu>
                            <li nz-menu-item>
                                <i nz-icon nzType="clock-circle" theme="outline"></i>
                                <span class="m-l-5">Matutino</span>
                            </li>
                            <li nz-menu-item>
                                <i nz-icon nzType="clock-circle" theme="outline"></i>
                                <span class="m-l-5">Vespertino</span>
                            </li>
                            <li nz-menu-item>
                                <i nz-icon nzType="clock-circle" theme="outline"></i>
                                <span class="m-l-5">Ayer</span>
                            </li>
                            <li nz-menu-item>
                                <i nz-icon nzType="clock-circle" theme="outline"></i>
                                <span class="m-l-5">Antiér</span>
                            </li>
                        </ul>
                    </nz-dropdown-menu>
                </div>
            </div>
            <div class="d-md-flex justify-content-space m-t-50">
                <div id="chartdiv" style="width: 100%; height: 500px"></div>
            </div>
        </nz-card>
    </div>
    <div class="col-lg-3">
        <nz-card>
            <div class="d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Actividad</h5>
            </div>
            <div class="m-t-40">
                <div class="overflow-y-auto p-l-10 p-t-15">
                    <nz-timeline>
                        <nz-timeline-item *ngFor="let item of activityList" [nzDot]="dotTemplate">
                            <div class="m-l-20">
                                <h5 class="m-b-5">{{item.studentName}}</h5>
                                <p class="m-b-0">
                                    <span class="font-weight-semibold">{{ item.vehicle }} - {{ item.route }}</span>
                                    <span class="m-l-5"> {{item.studentId}}</span>
                                </p>
                                <span class="text-muted font-size-13">
                                    <i nz-icon nzType="clock-circle" theme="outline"></i>
                                    <span class="m-l-5">{{formatDate(item.created)}}</span>
                                </span>
                            </div>
                            <ng-template #dotTemplate>
                                <div class="font-size-20 p-5">
                                    <i *ngIf="item.type == 'access'" class="text-success" nz-icon
                                        nzType="check" theme="outline"></i>
                                    <i *ngIf="item.type == 'Attached file'" class="text-info" nz-icon
                                        nzType="paper-clip" theme="outline"></i>
                                    <i *ngIf="item.type == 'Commented'" class="text-info" nz-icon nzType="message"
                                        theme="outline"></i>
                                    <i *ngIf="item.type == 'duplicate'" class="text-danger" nz-icon
                                        nzType="close-circle" theme="outline"></i>
                                </div>
                            </ng-template>
                        </nz-timeline-item>
                    </nz-timeline>
                </div>
            </div>
        </nz-card>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <nz-card>
            <div class="d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Información detallada</h5>
            </div>
            <div class="m-t-30">
                    <ag-grid-angular #agGrid
                    style="width: 100%; height: 500px;" 
                    class="ag-theme-material"
                    [rowData]="rowData"
                    [onGridReady]='onGridReady'
                    [columnDefs]="columnDefs"
                    [groupIncludeFooter]="true"
                    [sideBar]="true"
                    >
                </ag-grid-angular>
            </div>
        </nz-card>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <nz-card>
            <div class="d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Mapa</h5>
            </div>
            <div class="m-t-30">
                <div class="map" #map id="map" class="match-parent"></div>
            </div>
        </nz-card>
    </div>
    
</div>
