<nz-timeline nzMode="alternate">
    <nz-timeline-item *ngFor="let item of activityLogList" [nzColor]="item.allowedOnBoard ? 'green' : 'red'">
        {{ (item.created).toDate() | date: 'medium' }}
        <p>Programa: {{ item.program === 'S' ? 'Salida':'Entrada' }}</p>
        <p>Turno: {{ item.round }}</p>
        <p>Unidad: {{ item.vehicle }}</p>
        <p>Conductor: {{ item.driver }}</p>
        <p>Mensaje: {{ item.description }}</p>
    </nz-timeline-item>
  </nz-timeline>

  <table class="table table-bordered" *ngIf="!!userCredentials && userCredentials.length > 0">
    <thead>
        <th>#</th>
        <th>QRCode</th>
        <th>Texto Credencial</th>
        <th>Matrícula / ID Empleado</th>
        <th>Usuario</th>
    </thead>
    <tbody>
        <tr *ngFor="let qrcode of userCredentials; let index=index">
            <td>{{ index + 1 }}</td>
            <td>
                <ngx-qrcode [qrc-element-type]="elementType" qrc-version="10"
                qrc-value="{{qrcode.uid}},{{qrcode.credentialId}},C" qrc-class="qrCode-size"
                qrc-errorCorrectionLevel="Q"></ngx-qrcode>
                <span>
                    {{qrcode.uid}},{{qrcode.credentialId}},C    
                </span>
            </td>
            <td>{{qrcode.uid}},{{qrcode.credentialId}},C</td>
            <td>{{ qrcode.studentId }}</td>
            <td>{{ qrcode.displayName }}</td>
        </tr>
    </tbody>
  </table>
