<div style="margin: buttom 15px;">
    <div class="site-page-header-ghost-wrapper">
    <nz-layout class="container-fluid p-h-0">
  
        <div style="margin-bottom: 10px;margin-top: 10px;">
            <button class="m-r-10" nz-button  style=" background-color: #4F6F57; color: #f6f3ea;" (click)="showModalAddRol()"><i nz-icon
                nzType="plus"></i>Agregar Rol </button>           
            <button class="m-r-10" nz-button  style=" background-color: #4F6F57; color: #f6f3ea;" (click)="showModalEditRol(currentRolSelected)"><i nz-icon
                nzType="plus"></i>Editar Rol </button>
        </div>
        <div style="margin-bottom: 10px;">
            <h6 class="m-b-0"><i nz-icon nzType="check-circle" nzTheme="twotone"
                nzTwotoneColor="#52c41a"></i> Rol Selecionado:  {{NameRol}}</h6>
        </div>
        <nz-layout>
          <nz-sider style="background-color:#f9fbfd;">
            <nz-list nzBordered nzSize="large">
              <nz-list-item *ngFor="let item of loadedRolesList" (click)="rolSelected(item)">{{item.description}}</nz-list-item>
          
            </nz-list>
          </nz-sider>
          <nz-content style="background-color:#f9fbfd;">
            <nz-transfer [nzDataSource]="list" [nzDisabled]="disabled" [nzListStyle]="{ 'width.px': 300, 'height.px': 600 }"
              [nzRender]="render" (nzSelectChange)="select($event)" (nzChange)="change($event)">
              <ng-template #render let-item>
                <span nz-icon nzType="{{ item.icon }}"></span>
                {{ item.title }}
              </ng-template>
            </nz-transfer>
          
          </nz-content>
        </nz-layout>
        <nz-footer> 
           <!--  <button class="m-r-10" nz-button  style=" background-color: #4F6F57; color: #f6f3ea;" (click)="saveForms()"><i nz-icon
            nzType="plus"></i>Guardar </button> -->
          <!--   <button class="m-r-10" nz-button  style=" background-color: #4F6F57; color: #f6f3ea;" (click)="reseetForms()"><i nz-icon
                nzType="plus"></i>Resetear Elementos </button> -->
        </nz-footer>
      </nz-layout>
      
    <nz-modal [(nzVisible)]="isAddVisible" [nzTitle]="AgregarRol" [nzContent]="modalAddRolContent"
      [nzFooter]="modalRolAddFooter" (nzOnCancel)="handleCancel()" [nzWidth]="600">
      <ng-template #AgregarRol>
        Agregar Rol
      </ng-template>
      <ng-template #modalAddRolContent>
        <form nz-form nzLayout="horizontal" [formGroup]="validateAddRolForm" (ngSubmit)="submitAddForm()">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24">Nombre</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                  <input nz-input formControlName="name" id="nameA" />
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24">Descripción</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                  <input nz-input formControlName="description" id="descriptioA" />
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24">Rol Superior</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                  <nz-select formControlName="rolId" [nzPlaceHolder]="'Selecciona el Rol Superior'">
                    <nz-option *ngFor="let o of displayData" nzCustomContent [nzLabel]="o.name" [nzValue]="o.uid">
                      <i nz-icon nzType="fork"></i> {{ o.description }}</nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24">Nivel de Acceso</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                  <nz-select  formControlName="optionAccessLavel" [nzPlaceHolder]="'Selecciona un nivel de acceso'">
                  <nz-option *ngFor="let option of options"  [nzValue]="option.value" [nzLabel]="option.label" >                   
                  </nz-option>
                </nz-select>              
                </nz-form-control>
              </nz-form-item>

              <nz-form-item >
                <nz-form-label [nzSm]="6" [nzXs]="24">Activo</nz-form-label>
                <nz-switch formControlName="active" nzCheckedChildren="Si"
                  nzUnCheckedChildren="No"></nz-switch>
              </nz-form-item>           
        </form>
      </ng-template>
      <ng-template #modalRolAddFooter>
        <button nz-button style=" background-color: #4F6F57; color: #f6f3ea;" (click)="handleCancel()">Cancelar</button>
        <button nz-button  style=" background-color: #4F6F57; color: #f6f3ea;" (click)="submitAddForm()">Guardar</button>
      </ng-template>
    </nz-modal>

    <nz-modal [(nzVisible)]="isEditVisible" [nzTitle]="EditarRol" [nzContent]="modalEditRolContent"
      [nzFooter]="modalRolEditFooter" (nzOnCancel)="handleCancel()" [nzWidth]="600">
      <ng-template #EditarRol>
        Editar Rol
      </ng-template>
      <ng-template #modalEditRolContent>
        <form nz-form nzLayout="horizontal" [formGroup]="validateEditRolForm" (ngSubmit)="submitEditForm()">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24">Nombre</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                  <input nz-input formControlName="name" id="nameE" />
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24">Descripción</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                  <input nz-input formControlName="description" id="descriptionE" />
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24">Rol Superior</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                  <nz-select formControlName="rolId" [nzPlaceHolder]="'Selecciona el Rol Superior'">
                    <nz-option *ngFor="let o of displayData" nzCustomContent [nzLabel]="o.name" [nzValue]="o.uid">
                      <i nz-icon nzType="fork"></i> {{ o.description }}</nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24">Nivel de Acceso</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                  <nz-select  formControlName="optionAccessLavel" [nzPlaceHolder]="'Selecciona un nivel de acceso'">
                  <nz-option *ngFor="let option of options"  [nzValue]="option.value" [nzLabel]="option.label" >                   
                  </nz-option>
                </nz-select>              
                </nz-form-control>
              </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24">Activo</nz-form-label>
                <nz-switch formControlName="active" nzCheckedChildren="Si"
                  nzUnCheckedChildren="No"></nz-switch>
              </nz-form-item>
        </form> 
      </ng-template>
      <ng-template #modalRolEditFooter>
        <button nz-button  style=" background-color: #4F6F57; color: #f6f3ea;" (click)="handleCancel()">Cancelar</button>
        <button nz-button style=" background-color: #4F6F57; color: #f6f3ea;" (click)="submitEditForm()">Guardar</button>
      </ng-template>
    </nz-modal>
  </div>