<div style="margin: buttom 15px;">
  <div class="site-page-header-ghost-wrapper">
    <nz-page-header [nzGhost]="false">
      <nz-page-header-title>Calidad</nz-page-header-title>
      <nz-page-header-subtitle> Repositorio </nz-page-header-subtitle>

    </nz-page-header>

    <form nz-form nzLayout="vertical-align" [formGroup]="validateForm">
      <div class="body">
        <div class="row">
          <div class="col-md-4">
            <nz-form-item>
              <nz-form-label>Carpeta</nz-form-label>
              <nz-select style="width: 200px;" formControlName="folder" nzAllowClear
                (ngModelChange)="changeFolder($event)"
                nzPlaceHolder="Selecciona una carpeta donde almacenar el documento.">
                <nz-option *ngFor="let o of rowFolders" [nzValue]="o" [nzLabel]="o"></nz-option>
              </nz-select>
              <button nz-button  style=" background-color: #4F6F57; color: #f6f3ea;" (click)="newFolder()">+</button>
            </nz-form-item>
          </div>
          <div class="col-md-8">
            <input *ngIf="addNewFolder" style="width: 350px;" nz-input placeholder="Ingresa el nombre de la carpeta"
              formControlName="NewFolderName" />
            <button *ngIf="addNewFolder" nz-button  style=" background-color: #4F6F57; color: #f6f3ea;" (click)="newFolderSave()">✓</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <nz-form-item>
              <nz-upload nzAction="https://corsproxy.io/?https://jsonplaceholder.typicode.com/posts/"
                (nzChange)="handleChangeUpload($event)">
                <button nz-button>
                  <span nz-icon nzType="upload"></span>
                  Cargar Archivo
                </button>
              </nz-upload>
            </nz-form-item>
          </div>
          <div class="col-md-10">
            <nz-form-item>
              <button nz-button  style=" background-color: #4F6F57; color: #f6f3ea;" (click)="submitForm()">Subir</button>
            </nz-form-item>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <button nz-button  style=" background-color: #4F6F57; color: #f6f3ea;" (click)="refreshTable()">Actualizar</button>
        </div>
        <div class="col-md-10">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <ag-grid-angular #agGrid style="width: 100%; height: 450px;" class="ag-theme-material" [rowData]="rowData"
            [rowSelection]="rowSelectionEdit" (gridReady)="onGridReady($event)" [columnDefs]="columnFleetDefsProgram"
            [rowGroupPanelShow]="rowGroupPanelShow" [defaultColDef]="columnProgram" [groupIncludeFooter]="true"
            (selectionChanged)="onSelectionChangedEdit($event)" [sideBar]="false">
          </ag-grid-angular>
        </div>
      </div>
  
  </form>
  </div>
<nz-modal [(nzVisible)]="isEditModalVisible" nzTitle="Detalle Archivo"
  nzWidth="500px" (nzOnCancel)="handleCancelEdit()" [nzFooter]="modalFooterEdit">
  <div>
    <form nz-form>
        <nz-form-item>
            <button nz-button style=" background-color: #4F6F57; color: #f6f3ea;" (click)="changeOption(1)">Ver</button>
            <button nz-button  style=" background-color: #4F6F57; color: #f6f3ea;" (click)="changeOption(2)">Borrar</button>
          </nz-form-item>
          <nz-form-item>
            <div *ngIf="isVerVisible">
                <a href="{{urlFile}}">Ver Comprobante</a>
                </div>
          </nz-form-item>
    </form>
  </div>
  <ng-template #modalFooterEdit>
    <button nz-button  style=" background-color: #4F6F57; color: #f6f3ea;" (click)="handleOKEdit()" [nzLoading]="isConfirmLoading">Aceptar</button>
    <button nz-button  style=" background-color: #4F6F57; color: #f6f3ea;" (click)="handleCancelEdit()">Cancelar</button>
  </ng-template>
</nz-modal>



