.footer{
    height: 100% !important;
    position:absolute;
    padding: 0px 25px;
    display:flex;
    justify-content: space-between;
  }
  .body {
      overflow-y: auto;
      padding: 15px 25px;
      position: relative;
      width: 100%;
  }