<div class="container" *ngIf="!!record">
  <form nz-form nzLayout="vertical" [formGroup]="objectForm" (ngSubmit)="onSubmit()">
    <nz-card nzType="inner" nzTitle="Información Básica" [nzExtra]="basicTpl" [nzLoading]="loading">
      <div class="media align-items-center">
        <nz-avatar [nzSize]="80" nzIcon="user" [nzText]="record.name" nzSize="large"
          nzSrc="http://themenate.com/applicator/dist/assets/images/avatars/thumb-13.jpg"></nz-avatar>
        <div class="m-l-20 m-r-20">
          <h5 class="m-b-5 font-size-18" *ngIf="!!record">{{ record.name }}</h5>
          <p class="opacity-07 font-size-13 m-b-0">
            {{ record.address }} <br>
            {{ record.address2 }}
            {{ record.address3 }}
          </p>
        </div>
        <nz-upload nzName="avatar" [nzShowUploadList]="false" (nzChange)="handleChange($event)">
          <button nz-button nzType="primary" nzGhost>
            <span>Cambiar imágen</span>
          </button>
        </nz-upload>
      </div>
      <hr class="m-v-25">
      <div class="row">
        <div class="col-md-3">
          <nz-form-item>
            <nz-form-label nzFor="name">Nombre</nz-form-label>
            <nz-form-control>
              <input nz-input formControlName="name" type="text">
              <nz-form-explain *ngIf="objectForm.get('name').dirty && objectForm.get('name').errors">Nombre del cliente
                es obligatorio!</nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-md-9">
          <nz-form-item>
            <nz-form-label nzFor="socialName">Razón Social</nz-form-label>
            <nz-form-control>
              <input nz-input formControlName="socialName" type="text">
              <nz-form-explain *ngIf="objectForm.get('socialName').dirty && objectForm.get('socialName').errors">Razón
                social es un dato obligatorio</nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <nz-form-item>
            <nz-form-label nzFor="rfc">RFC</nz-form-label>
            <nz-form-control>
              <input nz-input formControlName="rfc" type="text">
              <nz-form-explain *ngIf="objectForm.get('rfc').dirty && objectForm.get('rfc').errors">Nombre del cliente es
                obligatorio!</nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-md-6">

        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <nz-form-item>
            <nz-form-label nzFor="phoneNumber">Teléfono</nz-form-label>
            <nz-form-control>
              <input nz-input formControlName="phoneNumber" placeholder="Teléfono">
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-md-4">
          <nz-form-item>
            <nz-form-label nzFor="website">Sitio Web</nz-form-label>
            <nz-form-control>
              <input nz-input formControlName="website" placeholder="website">
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-md-4">
          <nz-form-item>
            <nz-form-label nzFor="primaryContact">Persona Contacto</nz-form-label>
            <nz-form-control>
              <input nz-input formControlName="primaryContact" placeholder="Contacto principal">
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </nz-card>
    <ng-template #basicTpl>
      <a (click)="onSubmit()">Actualizar</a>
    </ng-template>
    <nz-card nzType="inner" nzTitle="Dirección">
      <div class="row">
        <div class="col-md-9">
          <nz-form-item>
            <nz-form-label nzFor="address">Calle</nz-form-label>
            <nz-form-control>
              <input nz-input formControlName="address" placeholder="Calle">
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-md-3">
          <nz-form-item>
            <nz-form-label nzFor="addressNumber">Número</nz-form-label>
            <nz-form-control>
              <input nz-input formControlName="addressNumber" placeholder="Número">
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <nz-form-item>
            <nz-form-label nzFor="address">Entre Calles</nz-form-label>
            <nz-form-control>
              <input nz-input formControlName="address2" placeholder="Entre calles">
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-md-6">
          <nz-form-item>
            <nz-form-label nzFor="address3">Fracc / Colonia</nz-form-label>
            <nz-form-control>
              <input nz-input formControlName="address3" placeholder="Fracc / Colonia">
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <nz-form-item>
            <nz-form-label nzFor="zip">Código Postal</nz-form-label>
            <nz-form-control>
              <input nz-input formControlName="zip" placeholder="Código Postal">
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-md-5">
          <nz-form-item>
            <nz-form-label nzFor="city">Ciudad / Municipio</nz-form-label>
            <nz-form-control>
              <input nz-input formControlName="city" placeholder="Ciudad / Municipio">
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-md-5">
          <nz-form-item>
            <nz-form-label nzFor="state">Estado</nz-form-label>
            <nz-form-control>
              <input nz-input formControlName="state" placeholder="Estado">
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </nz-card>
    <nz-card nzType="inner" nzTitle="Parámetros de Servicio">
      <div class="row">
        <div class="col-md-4">
          <nz-form-item>
            <nz-form-label nzFor="paymentResponsible" nzRequired>
              <span>
                Origen de los pagos
                <i nz-icon nz-tooltip nzTooltipTitle="¿Quién es el responsable de emitir un pago por el servicio?"
                  nzType="question-circle" nzTheme="outline"></i>
              </span>
            </nz-form-label>
            <nz-form-control [nzSpan]="12">
              <nz-select name="select-error" formControlName="paymentResponsible">
                <nz-option nzValue="0" nzLabel="Cliente"></nz-option>
                <nz-option nzValue="1" nzLabel="Usuario"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <nz-form-item>
            <nz-form-label nzFor="forceStopPoints" nzRequired>
              <span>
                Obligatorio subir en la parada definida
                <i nz-icon nz-tooltip
                  nzTooltipTitle="¿Es obligatorio que el usuario suba exclusivamente en la parada seleccionada?"
                  nzType="question-circle" nzTheme="outline"></i>
              </span>
            </nz-form-label>
            <nz-form-control [nzSpan]="12">
              <nz-select name="select-error" formControlName="forceStopPoints">
                <nz-option nzValue=true nzLabel="Si"></nz-option>
                <nz-option nzValue=false nzLabel="No"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-md-4">
          <nz-form-item>
            <nz-form-label nzFor="forceRound" nzRequired>
              <span>
                Obligatorio subir en el turno definido
                <i nz-icon nz-tooltip
                  nzTooltipTitle="¿Es obligatorio que el usuario suba exclusivamente en el turno seleccionada?"
                  nzType="question-circle" nzTheme="outline"></i>
              </span>
            </nz-form-label>
            <nz-form-control [nzSpan]="12">
              <nz-select name="select-error" formControlName="forceRound">
                <nz-option nzValue=true nzLabel="Si"></nz-option>
                <nz-option nzValue=false nzLabel="No"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-md-4">
          <nz-form-item>
            <nz-form-label nzFor="forceRound" nzRequired>
              <span>
                Obligatorio subir en la ruta definida
                <i nz-icon nz-tooltip
                  nzTooltipTitle="¿Es obligatorio que el usuario suba exclusivamente en la ruta seleccionada?"
                  nzType="question-circle" nzTheme="outline"></i>
              </span>
            </nz-form-label>
            <nz-form-control [nzSpan]="12">
              <nz-select name="select-error" formControlName="forceRoute">
                <nz-option nzValue=true nzLabel="Si"></nz-option>
                <nz-option nzValue=false nzLabel="No"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </nz-card>
  </form>
</div>