<div class="page-header has-tab">
  <div class="d-md-flex m-b-15 align-items-center justify-content-between">
    <div class="media align-items-center m-b-15">
      <nz-avatar nzShape="square" [nzSize]="70" [nzSrc]="objectForm.controls.imageUrl.value"></nz-avatar>
      <div class="m-l-15">
        <h4 class="m-b-0">{{ objectForm.controls.name.value }}</h4>
        <!-- <p class="text-muted m-b-0">Code: #5325</p> -->
      </div>
    </div>
    <div class="m-b-15">
      <button nz-button nzType="primary" (click)="saveForm()">
        <i nz-icon nzType="save" theme="outline"></i>
        <span>Actualizar</span>
      </button>
    </div>
  </div>
</div>
<form nz-form nzLayout="vertical" [formGroup]="objectForm">
  <nz-tabset class="page-header-tab">
    <nz-tab nzTitle="Información Básica">
      <nz-card>
        <div class="row">
          <div class="col-md-9 col-sm-12">
            <nz-form-item>
              <nz-form-label nzFor="name">Nombre</nz-form-label>
              <nz-form-control>
                <input nz-input formControlName="name" type="text">
                <nz-form-explain *ngIf="objectForm.get('name').dirty && objectForm.get('name').errors">Nombre de la ruta
                  es obligatorio!</nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="col-md-3 col-sm-12">
            <nz-form-item>
              <nz-form-label nzFor="active">Activa</nz-form-label>
              <nz-form-control>
                <nz-switch formControlName="active" nzCheckedChildren="Activa" nzUnCheckedChildren="Inactiva">
                </nz-switch>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <nz-form-item>
              <nz-form-label nzFor="description">Descripción</nz-form-label>
              <nz-form-control>
                <input nz-input formControlName="description" type="text">
                <nz-form-explain *ngIf="objectForm.get('description').dirty && objectForm.get('description').errors">
                  Nombre de la ruta es obligatorio!</nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="col-md-12">
          <nz-form-item>
            <nz-form-label nzFor="customerId">Cliente</nz-form-label>
            <nz-select formControlName="customerId" nzAllowClear nzPlaceHolder="Selecciona el cliente" (ngModelChange)="onCustomerChange($event)">
              <nz-option *ngFor="let o of accountsList" nzCustomContent [nzLabel]="o.name" [nzValue]="o.id"><i nz-icon nzType="flag"></i> {{ o.name }} <br/> {{ o.description }}</nz-option>
            </nz-select>
          </nz-form-item>
        </div>
        </div>
      </nz-card>
    </nz-tab>
    <nz-tab nzTitle="Paradas">
      <nz-card>
        <app-shared-stoppoints-list [accountId]="accountId" [routeId]="routeId"></app-shared-stoppoints-list>
      </nz-card>
    </nz-tab>
    <nz-tab nzTitle="Asignaciones">
      <nz-card>
      <app-shared-route-programs [accountId]="accountId" [routeId]="routeId"></app-shared-route-programs>
      </nz-card>
    </nz-tab>
  </nz-tabset>
</form>