<footer class="footer">
    <div class="footer-content justify-content-between">
        <p class="m-b-0">Copyright © 2020 Apps And SA de CV. Todos los derechos reservados.</p>
        <span>
            <a (click)="showModalPrivacy()" class="text-gray m-r-15">Privacidad</a>
           <!-- 
             <a (click)="showModalTerms()" class="text-gray m-r-15">Términos y Condiciones</a>
             <a (click)="showModalPrivacy()" class="text-gray">Ayuda</a> -->
            <a (click)="showModalBaja()" class="text-gray">Baja Usuario</a>
        </span>
    </div>
</footer>