<nz-page-header class="site-page-header">

  <!--title-->
  <nz-page-header-title>Usuarios</nz-page-header-title>

  <!--subtitle-->
  <nz-page-header-subtitle>Usuarios de este cliente</nz-page-header-subtitle>

  <!--extra-->
  <nz-page-header-extra>
    <button nz-button>Nuevo Usuario</button>
    <button nz-button nzType="primary" (click)="showModal()">Importar desde archivo</button>
  </nz-page-header-extra>

  <!--content-->
  <nz-page-header-content>
    <div nz-row>
      <div class="content">
        <div class="col-md-4 col-sm-12">
          <nz-input-group [nzSuffix]="suffixIconSearch">
            <input type="text" nz-input placeholder="Buscar ..." />
          </nz-input-group>
          <ng-template #suffixIconSearch>
            <i nz-icon nzType="search"></i>
          </ng-template>
        </div>
      </div>
    </div>
  </nz-page-header-content>
</nz-page-header>
<br />
<ag-grid-angular style="width: 100%; height: 450px;" class="ag-theme-material" [rowData]="usersList" [paginationPageSize]="pageSize"
  [getContextMenuItems]="getContextMenuItems" [columnDefs]="columnDefs" [gridOptions]="gridOptions" [onGridReady]="onGridReady"
  [popupParent]="popupParent">
</ag-grid-angular>
<button nz-button nz-dropdown [nzDropdownMenu]="menu4">
  {{ pageSize }} / página
  <i nz-icon nzType="down"></i>
</button>
<nz-dropdown-menu #menu4="nzDropdownMenu">
  <ul nz-menu>
    <li (click)="setPaginationPageSize(20)" nz-menu-item>20 por página</li>
    <li (click)="setPaginationPageSize(50)" nz-menu-item>50 por página</li>
    <li (click)="setPaginationPageSize(100)" nz-menu-item>100 por página</li>
  </ul>
</nz-dropdown-menu>

<!-- Modal -->


<nz-modal [(nzVisible)]="isVisible" [nzWidth]="620" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter"
  (nzOnCancel)="handleCancel()">
  <ng-template #modalTitle>
    Importar Usuarios desde archivo
  </ng-template>

  <ng-template #modalContent>
    <nz-steps [nzCurrent]="current">
      <nz-step nzTitle="Seleccionar Archivo"></nz-step>
      <nz-step nzTitle="Validar"></nz-step>
      <nz-step nzTitle="Crear"></nz-step>
    </nz-steps>

    <div class="steps-content overflow-auto">

      <div *ngIf="current == 0">
        <nz-upload nzType="drag" [nzMultiple]="false" nzAccept=".csv" nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
          (nzChange)="handleChange($event)">
          <p class="ant-upload-drag-icon">
            <i nz-icon nzType="inbox"></i>
          </p>
          <p class="ant-upload-text">Click o arrastrar para subir archivo</p>
          <p class="ant-upload-hint">
            El archivo debe ser en formato CSV. Es sólo para usuarios sin aplicación móvil. Para coincidir correctamente, por favor descargue primero el archivo de
            ejemplo.
          </p>
        </nz-upload>
      </div>

      <div *ngIf="current == 1">

        <nz-table #basicTable [nzPageSize]="5" nzSize="small" [nzData]="csvRecords" >
          <thead>
            <tr>
              <th>Nombre(s)</th>
              <th>Apellido(s)</th>
              <th>Teléfono</th>
              <th>Email</th>
              <th>No Empleado</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of basicTable.data">
              <td>{{data.firstName}}</td>
              <td>{{data.lastName}}</td>
              <td>{{data.phone}}</td>
              <td>{{data.email}}</td>
              <td>{{ data.employeeId }}</td>
            </tr>
          </tbody>
        </nz-table>
      </div>

      <div *ngIf="current == 2">
        <h3 *ngIf="!isDone">{{ csvRecords.length }} usuarios serán creados en el sistema. </h3>

        <nz-table #basicTable [nzSize]="'small'" [nzPageSize]="5" [nzData]="csvRecords" *ngIf="isSavingUsers">
          <thead>
            <tr>
              <th>Nombre(s)</th>
              <th>Apellido(s)</th>
              <th>Teléfono</th>
              <th>Email</th>
              <th>No Empleado</th>
              <th>Resultado</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of basicTable.data">
              <td>{{data.firstName}}</td>
              <td>{{data.lastName}}</td>
              <td>{{data.phone}}</td>
              <td>{{data.email}}</td>
              <td>{{ data.employeeId }}</td>
              <td>{{ data.result }}</td>
            </tr>
          </tbody>
        </nz-table>
      </div>

    </div>

  </ng-template>

  <ng-template #modalFooter>
    <div class="steps-action">
      <button nz-button nzType="default" (click)="pre()" *ngIf="current > 0">
        <span>Anterior</span>
      </button>

      <a class="p-10" href="assets/data/csv-example/users1.csv" *ngIf="current == 0 && csvRecords.length == 0" nz-button nzType="link">Descargar archivo ejemplo</a>

      <button nz-button nzType="default" (click)="next()" *ngIf="current < 2 && csvRecords.length > 0">
        <span>Siguiente</span>
      </button>
      <button nz-button nzType="primary"  [nzLoading]="isSavingUsers"(click)="done()" *ngIf="current === 2 && !isDone">
        <span>Crear Usuarios</span>
      </button>
      <button nz-button nzType="primary"  (click)="handleOk()" *ngIf="current === 2 && isDone">
        <span>Terminar</span>
      </button>
    </div>
  </ng-template>
</nz-modal>